<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}

</style>
</head>
<h1 style="background-color:DodgerBlue;" style="font-size:60px;">FE595 Midterm Project</h1>

<h2 style="border:2px solid DodgerBlue;" style="font-size:30px;">Work Group 7</h2>
<p style="background-color:Tomato;">NLP (Natural Language Processing) is a field concerned with the ability of a computer to understand, analyze and manipulate and potentially generate human language</p>
<h3>We offer 6 different NLP services</h3>

<h3 style="color:Tomato;">
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
</h3>

<form action="services" method="post">
    <label for="s1" style="font-size:20px;">Enter your String</label>
    <br>
    <input type="text" name="s1" value="" size = 60 required style="border:2px solid SlateBlue;" >
    <br>

    <input type="checkbox" name="service1">
    <label for="service1">Sentiment Analysis</label>
    <br>

    <input type="checkbox" name="service2">
    <label for="service2">Part of Speech Tagging</label>
    <br>

    <input type="checkbox" name="service3">
    <label for="service3">Text Classification</label>
    <br>

    <input type="checkbox" name="service4">
    <label for="service4">Word Cloud</label>
    <br>

    <input type="checkbox" name="service5">
    <label for="service5">Topic Modelling</label>
    <br>

    <input type="checkbox" name="service6">
    <label for="service6">Aspect Mining</label>
    <br>

    <input type="submit" value="Submit">
</form>
